<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geologica:wght@100&family=Lexend+Tera:wght@700&family=Noto+Sans+Tangsa:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>APMobile</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <nav class="navbar" style="background-color: #0200e3" data-bs-theme="dark">
      <a class="navbar-brand mt-1 mb-1 ms-2" href="index.html"
        ><img
          src="/WEB/MULTIMEDIA/LOGO.png"
          alt="Bootstrap"
          width="120"
          height="60"
      /></a>

      <ul class="nav">
        <li class="nav-item active px-2">
          <a class="nav-link fs-5" style="color: #ffffff" href="index.html"
            >Inicio
          </a>
        </li>
        <li class="nav-ítem px-2">
          <a class="nav-link fs-5" style="color: #ffffff" href="#">Ofertas</a>
        </li>
        <li class="nav-ítem px-2">
          <a class="nav-link fs-5" style="color: #ffffff" href="contacto.html">Contacto </a>
        </li>
      </ul>
    </nav>
    <header>
      <div
        class="fondo d-flex p-2 justify-content-center align-items-center flex-column"
      >
        <h1 class="texto1">APMobile</h1>
        <h2 class="fs-5 texto1">Porque tu eres lo primero</h2>
      </div>
    </header>

    <section>
      <div
        class="mt-5 mb-1 d-flex justify-content-center align-items-center flex-column"
      >
        <h1 class="justify-content-center">Sobre mi</h1>
        <b class="p-3 mb-5 col-12 col-sm-10 col-md-8 col-lg-6 mt-4 text-center">
          Nuestra mision es proporcionar servicios de calidad en tiempo y forma.
          Intento ir más allá de mis límites para cubrir las necesidades de cada
          persona. Por medio de una comunicación clara y un servicio
          inigualable, espero poder superar sus expectativas en proveedor de
          servicios de telecomunicaciones. 
        </b>
      </div>
    </section>

    <section>
      <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
          <div class="col-8 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card">
              <img
                src="/WEB/MULTIMEDIA/FIBRA-02-02.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body text-center">
                <h3 class="card-title">Fibra</h3>
                <a
                  href="fibra.html"
                  class="btn btn-primary mb-4 position-absolute bottom-0 start-50 translate-middle-x"
                  >Precios</a
                >
              </div>
            </div>
          </div>

          <div class="col-8 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card">
              <img
                src="/WEB/MULTIMEDIA/MOVIL-01-01.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body text-center">
                <h3 class="card-title">Móvil</h3>
                <a
                  href="movil.html"
                  class="btn btn-primary mb-4 position-absolute bottom-0 start-50 translate-middle-x"
                  >Precios</a
                >
              </div>
              
            </div>
          </div>

          <div class="col-8 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card">
              <img
                src="https://cdn.glitch.global/21eb12fe-d2c5-4c99-b1e8-41ec9f4b4edf/FIB%20Y%20MOV_Artboard%203_Artboard%203.png?v=1701248284543"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body text-center">
                <h3 class="card-title">Fibra y móvil</h3>
                <a
                  href="fibramovil.html"
                  class="btn btn-primary mb-4 position-absolute bottom-0 start-50 translate-middle-x"
                  >Precios</a
                >
              </div>
            </div>
          </div>
          <div class="col-8 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card">
              <img
                src="https://cdn.glitch.global/21eb12fe-d2c5-4c99-b1e8-41ec9f4b4edf/TELEVISION_Artboard%204-04.png?v=1701258036085"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body text-center">
                <h3 class="card-title">TV</h3>
                <a
                  href="tv.html"
                  class="btn btn-primary mb-4 position-absolute bottom-0 start-50 translate-middle-x"
                  >Precios</a
                >
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container mt-6 mb-5 lg-4">
        <div class="row">
          <div class="row d-flex align-items-center">
            <div class="container text-center">
              <img
                src="https://cdn.glitch.global/21eb12fe-d2c5-4c99-b1e8-41ec9f4b4edf/MUJERCORREO-04.png?v=1701248797692"
                alt="Bootstrap"
                height="200"
              />
            </div>
            <div class="px-5 text-center">
              <h3 class="px-2">Comienza a vivir más conectado</h3>
            </div>
          </div>
        </div>
       <form method="POST" action="https://formsubmit.co/Ap.fibraymobile@gmail.com">
	<div class="form-group">
		<label for="telefono">Número de teléfono:</label> 
    <input type="tel" id= "telefono" name="telefono" patrón="[0-9]{3}[0-9]{3}[0-9]{3}" placeholder="Formato: 123456789" requerido > 
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" name="email" id="email">
	</div>
	<div class="form-group">
		<label for="exampleTextarea texto1">Necesito información sobre los siguientes servicios</label>
		<textarea class="form-control" name="mensaje" id="mensaje" rows="3"></textarea>
	</div>
	<div class="form-group">
		<input type="checkbox" required> Acepto la política de privacidad.
	</div>
	<button class="btn btn-primary" type="submit">Enviar</button>
</form>
        <h5 class="text-center mt-5">Aquí nos encontramos</h5>
      </div>
      <div class="container mt-5 mb-4 p-2 text-center">
        <div class="responsive-iframe">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2614.4135698468126!2d-6.053093866687742!3d37.28543712583826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd127371ce5527d3%3A0xd0381b6973f267d3!2sAPfibraymobile!5e0!3m2!1ses!2ses!4v1701167627971!5m2!1ses!2ses"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>
  </body>
  <section>
 <div class="fondo d-flex mt-2">
   
  </div>
    </section>
</html>
